<div class="main">
  <div class="nav">
  <nav class="navbar" id="navbar">
        
  				<p class="navbar-brand" id="logo" >Spending Tracker</p> 
        <div>
            <button type="button" class="btn" id="btn1" routerLink="/login">Log in</button>
            OR&emsp;&emsp;
            <button type="button" class="btn" id="btn2" routerLink="/signup">Sign Up</button>
        </div>
    </nav>	
  </div>
    <div class="container">

      <div class="heading1"> 

        <img height="51" width="60" class="logo" src="../assets/logo.png" alt="Logo small transparent">
        Split expenses with friends and family
      </div>

      <div class="heading2">
        <strong> Share</strong>
         bills and IOUs.
        <strong>Make sure</strong> 
         everyone gets paid back. 
        <strong> Totally free</strong> 
         for web, iPhone, and Android.
      </div>

  </div>

  <div class="slide">
    
    <img src="/assets/pic3.png" class="img1">
    <img src="/assets/pic2.png" class="img2">

  </div>

  <div id ="mbtn">
    <button type="button" class="signup" routerLink="/signup">
          Get started now
        </button>  						
    </div>
    <div class="footer">
      <p> &copy; 2018 of KSB Team Pvt.Ltd </p>
      
    </div>

</div>

