<div class="main">
<form class="box" [formGroup]="addFriendForm">
    <div class="navbar">
         <p class="header">Add Group Member</p> 
    </div>

    <div class="part">
          <div class="first-side"> 
              <img  src="../assets/image.jpg" class="profile-Image" height="125" width="123" id="image" class="ab">
              <div class="choose_file">
                      <span>Choose File</span>
                      <input type="file" id="profileImage" (change)="readURL(this);">
               </div>
          </div>
          <div class="second-side">
              
              <label class="lbl">Friend Name</label>
              <input type="text" name="" placeholder="Enter Group Name" class="control"  formControlName="frd_name">
              
              <label class="lbl" >Email id</label>
              <input  class="control" placeholder="Enter Email id"  type="text"  formControlName="email_id">

              <label class="lbl" >Mobile No</label>
              <input  class="control" placeholder="Enter Mobile No"  type="text"  formControlName="mob_no">
              <br>
              
                <div class="btn-group ">
                      <button _ngcontent-c1="" class="btn" type="button" (click)="addFriend()">Save</button>
                      <button _ngcontent-c1="" class="btn" type="button"routerLink="/dashboard" >Cancel </button>
                </div>
          </div>
    </div>
</form>
</div>      